
<div>
    <%= render'layouts/header' %>
    <div class="navbar-inner"><marquee>scrolling notice board</marquee></div>
<div class="center ">

   <div class="containt pull-left"><h2>this week's highest Scorers</h2><p></p></div>


        <div class=" pull-right">

                <div class="pull-right" >
                    <%= form_for(:session, url: '#') do |f| %>

                        <%= f.label :email %>
                        <%= f.text_field :email %>

                        <%= f.label :password %>
                        <%= f.password_field :password %><br>

                        <%= f.submit "Sign in", class: "btns btn-primary" %>
                    <% end %>
                    <br>
                </div>

                     <div><h3>Not yet a Member?</h3></div>

                <%= link_to "Sign up now!",signup_path , class: "btn btn-primary" %>

                <br>
                <div class="nav" style="margin-top: 25px;"><textarea rows="4" cols="50" name="comment" form="usrform">
                    Enter text here...</textarea></div>


        </div>
</div>
</div>
<h2>hello</h2>