
<div>
    <%= render'layouts/header' %>
    <div class="navbar-inner"><marquee>scrolling notice board</marquee></div>
<div class="center ">

   <div class="containt pull-left"><h2>this week's highest Scorers</h2><p></p></div>


        <div class=" pull-right">

                <div class="pull-right" >
                    <%= form_for(:session, url: sessions_path) do |f| %>

                        <%= f.label :email %>
                        <%= f.text_field :email %>

                        <%= f.label :password %>
                        <%= f.password_field :password %><br>

                        <%= f.submit "Sign in", class: "btns btn-primary" %>
                    <% end %>
                    <br>
                </div>

                     <div><h3>Not yet a Member?</h3></div>

                <%= link_to "Sign up now!",signup_path , class: "btn btn-primary" %>

                <br>
                <div style="margin-top: 25px;"><div class="containt pull-left" style="border: 1px solid ; height:100px;width: 250px ">
                    "Topper's Comments about the sites.
                    this will be scrolling thus showing multiple comments"</div></div>
            <center><img src="2.jpg" name="slide" width=200 height=200></center>

        </div>
</div>
</div>
<h2>hello</h2>